.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #f5f5f5;
  border-radius: 4px;
  margin-bottom: 10px;
  transition: background-color 0.3s, transform 0.2s ease-in-out,
    box-shadow 0.2s ease-in-out;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  flex-wrap: wrap;
}

.item:hover {
  background-color: #e0e0e0;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transform: translateY(-2px);
}

.todoContent {
  display: flex;
  align-items: center;
  flex-grow: 1;
  margin-right: 10px;
}

.checkboxLabel {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  font-size: 16px;
  user-select: none;
}

.checkboxLabel:before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 25px;
  height: 25px;
  border: 2px solid #2196f3;
  border-radius: 4px;
  background-color: #fff;
}

.checkbox:checked + .checkboxLabel:before {
  background-color: #2196f3;
}

.checkboxLabel:after {
  content: '';
  position: absolute;
  display: none;
  left: 9px;
  top: 50%;
  transform: translateY(-70%) rotate(45deg);
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
}

.checkbox:checked + .checkboxLabel:after {
  display: block;
}

.text {
  font-size: 16px;
  word-break: break-word;
  margin-left: 10px;
}

@media (max-width: 480px) {
  .todoContent {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .text {
    font-size: 14px;
  }

  .checkboxLabel:before {
    width: 20px;
    height: 20px;
  }

  .checkboxLabel:after {
    left: 7px;
    top: 3px;
    width: 4px;
    height: 8px;
  }
}

.checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkboxLabel {
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  font-size: 16px;
  user-select: none;
  display: inline-block;
}

.checkboxLabel:before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 25px;
  height: 25px;
  border: 2px solid #2196f3;
  border-radius: 4px;
  background-color: #fff;
}

.checkbox:checked + .checkboxLabel:before {
  background-color: #2196f3;
}

.checkboxLabel:after {
  content: '';
  position: absolute;
  display: none;
  left: 50%;
  top: 50%;
  transform: translate(-84%, -63%) rotate(45deg);
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
}

.checkbox:checked + .checkboxLabel:after {
  display: block;
}

.checkbox:disabled + .checkboxLabel:before {
  border-color: #bdbdbd;
  background-color: #e0e0e0;
}

.checkbox:disabled + .checkboxLabel {
  color: #bdbdbd;
  cursor: not-allowed;
}

.completed {
  text-decoration: line-through;
  color: #888;
}

.archived {
  font-style: italic;
  color: #666;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.archiveButton,
.unarchiveButton,
.deleteButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s;
}

.archiveButton:hover,
.unarchiveButton:hover,
.deleteButton:hover {
  transform: scale(1.1);
}

.archiveButton svg {
  color: #ffc107;
}

.unarchiveButton svg {
  color: #4caf50;
}

.deleteButton svg {
  color: #f44336;
}

@media (max-width: 480px) {
  .archiveButton svg,
  .unarchiveButton svg,
  .deleteButton svg {
    width: 14px;
    height: 14px;
  }
}

.deleteButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s;
}

.deleteButton:hover {
  transform: scale(1.1);
}

.deleteButton svg {
  color: #f44336;
}

@media (max-width: 480px) {
  .deleteButton svg {
    width: 14px;
    height: 14px;
  }
}
