.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: var(--todo-item-background);
  border-radius: 4px;
  margin-bottom: 10px;
  transition: background-color 0.3s, transform 0.2s ease-in-out,
    box-shadow 0.2s ease-in-out;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  flex-wrap: wrap;
}

.item:hover {
  background-color: var(--todo-item-hover-background);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transform: translateY(-2px);
}

.todoContent {
  display: flex;
  align-items: center;
  flex-grow: 1;
  margin-right: 10px;
}

.checkboxLabel {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  font-size: 16px;
  user-select: none;
  color: var(--text-color);
}

.checkboxLabel:before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 25px;
  height: 25px;
  border: 2px solid var(--button-background);
  border-radius: 4px;
  background-color: var(--container-background);
}

.checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkbox:checked + .checkboxLabel:before {
  background-color: var(--button-background);
}

.checkboxLabel:after {
  content: '';
  position: absolute;
  display: none;
  left: 9px;
  top: 50%;
  transform: translate(20%, -60%) rotate(45deg);
  width: 5px;
  height: 10px;
  border: solid var(--button-color);
  border-width: 0 3px 3px 0;
}

.checkbox:checked + .checkboxLabel:after {
  display: block;
}

.text {
  font-size: 16px;
  word-break: break-word;
  margin-left: 10px;
  color: var(--text-color);
}

.completed {
  text-decoration: line-through;
  color: var(--text-color);
  opacity: 0.6;
}

.archived {
  font-style: italic;
  color: var(--text-color);
}

.archived > *:not(.buttons) {
  opacity: 0.6;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.archiveButton,
.unarchiveButton,
.deleteButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s;
}

.archiveButton:hover,
.unarchiveButton:hover,
.deleteButton:hover {
  transform: scale(1.1);
}

.archiveButton svg,
.unarchiveButton svg {
  color: var(--icon-color);
  transition: color 0.3s ease;
}

.archiveButton:hover svg,
.unarchiveButton:hover svg {
  color: var(--icon-hover-color);
  transition: color 0.3s ease;
}

.deleteButton svg {
  color: var(--delete-button-background);
  transition: color 0.3s ease;
}

.deleteButton:hover svg {
  color: var(--delete-button-hover-background);
}

@media (max-width: 480px) {
  .todoContent {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .text {
    font-size: 14px;
  }

  .checkboxLabel:before {
    width: 20px;
    height: 20px;
  }

  .checkboxLabel:after {
    left: 7px;
    top: 3px;
    width: 4px;
    height: 8px;
    transform: translate(20%, -85%) rotate(45deg);
  }

  .archiveButton svg,
  .unarchiveButton svg,
  .deleteButton svg {
    width: 14px;
    height: 14px;
  }
}
