.todoContainer {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--container-background);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  height: 80vh;
  display: flex;
  flex-direction: column;
}

.title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: 600;
  color: var(--text-color);
}

.filters {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
  overflow-x: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  -ms-overflow-style: none;
  padding-bottom: 10px;
  min-height: 40px;
}

.filters::-webkit-scrollbar {
  display: none;
}

.filters button {
  flex: 0 0 auto;
  margin-right: 10px;
  padding: 8px 16px;
  background-color: var(--button-background);
  border: 1px solid var(--button-background);
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s;
  color: var(--button-color);
  font-size: 14px;
  font-weight: 500;
  align-self: flex-start;
}

.filters button:last-child {
  margin-right: 0;
}

.activeFilter {
  background-color: var(--button-hover-background) !important;
  color: var(--button-color) !important;
  border-color: var(--button-hover-background) !important;
}

.todoList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.todoListContainer {
  flex-grow: 1;
  overflow-y: auto;
  min-height: 200px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding: 10px;
  flex-wrap: wrap;
}

.paginationButton {
  background-color: var(--button-background);
  border: 1px solid var(--button-background);
  color: var(--button-color);
  padding: 8px 12px;
  margin: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 4px;
}

.paginationButton:hover:not(:disabled) {
  background-color: var(--button-hover-background);
}

.paginationButton:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.pageInfo {
  font-size: 14px;
  margin: 5px;
  color: var(--text-color);
}

@media (max-width: 480px) {
  .todoContainer {
    padding: 10px;
  }

  .title {
    font-size: 20px;
  }

  .pagination {
    flex-wrap: wrap;
    padding: 5px;
  }

  .paginationButton {
    flex: 1;
    height: 100%;
    font-size: 12px;
    padding: 6px 10px;
    margin: 2px;
  }

  .pageInfo {
    flex: 2;
    font-size: 12px;
    margin: 5px 0;
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 320px) {
  .pageInfo {
    flex: 1.5;
  }
}
