.form {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
}

.input {
  flex-grow: 1;
  padding: 12px 15px;
  font-size: 16px;
  border: 2px solid var(--input-border-color);
  border-radius: 4px;
  background-color: var(--container-background);
  color: var(--text-color);
  transition: all 0.3s ease;
  outline: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.input:focus {
  border-color: var(--button-background);
}

.input::placeholder {
  color: var(--text-color);
  opacity: 0.6;
}

.button {
  padding: 0 20px;
  font-size: 16px;
  background-color: var(--button-background);
  color: var(--button-color);
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  transition: all 0.3s ease;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(-2px);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.button:hover {
  background-color: var(--button-hover-background);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

@media (max-width: 480px) {
  .form {
    flex-direction: column;
  }

  .input {
    width: 100%;
    border-radius: 4px;
    margin-bottom: 10px;
    font-size: 14px;
    padding: 10px 12px;
  }

  .button {
    width: 100%;
    border-radius: 4px;
    margin-top: 10px;
  }
}
